{% extends 'layouts/layouts.html'%}

{% block title %}Base de datos {% endblock %}

{% block content %}
{{ block.super }}

<div class="start">
    <div class="initial">
        <h1>Detalles de {{ contacto.nombres }} {{ contacto.apellidos }}</h1>
            <div id="time">
                {% now "Y - h:m"%}
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="box">
        <p>Nombres: {{ contacto.nombres }}
        <br/>
        Apellidos: {{ contacto.apellidos }}
        <br/>
        Agente asignado: {{ contacto.agente }}
        <br/><br/></p>
        <a class="submitbtn" href="/contactos/{{ contacto.pk }}/editarcontacto"><button>Editar</button></a>
        <a class="delbtn" href="/contactos/{{ contacto.pk }}/eliminarcontacto"><button>Eliminar</button></a>
    </div>
    <a class="backbtn" href="/contactos/"><button>Regresar</button></a>
</div>

{% endblock %}