{% extends 'layouts/layouts.html'%}

{% block title %}Base de datos {% endblock %}

{% block content %}
{{ block.super }}

<div class="start">
    <div class="initial">
        <h1>Detalles de {{ contacto.nombres }} {{ contacto.apellidos }}</h1>
            <div id="time">
                {% now "Y - h:m"%}
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="box">
        <p>Nombres: {{ contacto.nombres }}
        <br/>
        Apellidos: {{ contacto.apellidos }}</p>
    </div>
    <a id="backbtn" href="/contactos/"><button>Regersar</button></a>
</div>

{% endblock %}