{% extends 'layouts/layouts.html'%}

{% block title %}Empresas {% endblock %}

{% block content %}
{{ block.super }}

<div class="start">
    <div class="initial">
        <h1>Estas son todas nuestras empresas: </h1>
            <div id="time">
                {% now "Y - h:m"%}
            </div>
        </div>
        <p></p>
    </div>
</div>
<br/>
<div class="divbtn" style="margin-left: 40px;">
    <a class="submitbtn" href="{% url 'empresa_create' %}"><button>Agregar</button></a>
</div>
<br/>
<div class="list_container">
    {% for empresa in empresas %}
        <div class="list_content">
        <p>{{ empresa.nombre }}<br/>
        {{ empresa.telefono }}<br/><br/>
            <a class="detail_href" href="{% url 'empresa_detail' empresa.pk %}">Más info.</a>
        </div>
    {% endfor %}
</div>

{% endblock %}