{% extends 'layouts/layouts.html'%}

{% block title %}Empresas {% endblock %}

{% block content %}
{{ block.super }}

<div class="start">
    <div class="initial">
        <h1>Crea una nueva empresa</h1>
            <div id="time">
                {% now "Y - h:m"%}
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="box">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="submitbtn" type="submit">Crear</button>    
        </form>
    </div>
    <a class="backbtn" href="{% url 'empresa_list' %}"><button>Regersar</button></a>
</div>

{% endblock %}