{% extends 'layouts/layouts.html'%}

{% block title %}Empresas {% endblock %}

{% block content %}
{{ block.super }}

<div class="start">
    <div class="initial">
        <h1>Estas son todas las empresas asociadas: </h1>
            <div id="time">
                {% now "Y - h:m"%}
            </div>
        </div>
        <p></p>
    </div>
</div>
<br/>
<div class="divbtn" style="margin-left: 40px;">
    <a class="submitbtn" href="{% url 'empresa_create' %}"><button>Agregar</button></a>
</div>
<br/>
<div class="list_container">
    {% for empresa in empresas %}
        <div class="list_content">
        <p>{{ empresa.nombre }}<br/>
        {{ empresa.telefono }}<br/><br/>
            <a class="detail_href" href="{% url 'empresa_detail' empresa.pk %}">Más info.</a>
        </div>
    {% endfor %}
</div>
{% if empresas_noasignadas.exists %}
<div class="divbtn" style="margin-left: 40px;">
    <h2>Empresas no asignadas: </h2>
</div>
    <div class="list_container">
        {% for empresa in empresas_noasignadas %}
            <div class="list_content">
            <p>{{ empresa.nombre }}<br/>
            {{ empresa.telefono }}<br/><br/>
                <a class="detail_href" href="{% url 'empresa_detail' empresa.pk %}">Más info.</a>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}