{% extends 'layouts/layouts.html'%}

{% block title %}Eventos {% endblock %}

{% block content %}
{{ block.super }}

<div class="start">
    <div class="initial">
        <h1>Estas son todos los eventos: </h1>
            <div id="time">
                {% now "Y - h:m"%}
            </div>
        </div>
        <p></p>
    </div>
</div>
<br/>
<div class="divbtn" style="margin-left: 40px;">
    <a class="submitbtn" href="{% url 'evento_create' %}"><button>Agregar</button></a>
</div>
<br/>
<div class="list_container">
    {% for evento in eventos %}
        <div class="list_content">
        <p>{{ evento.titulo }}<br/>
        {{ evento.ubicacion }}<br/><br/>
        <a class="detail_href" href="{% url 'evento_detail' evento.pk %}">Detalles</a>
        </div>
    {% endfor %}
</div>

{% endblock %}