{% extends 'layouts/layouts.html'%}

{% block title %}Contactos {% endblock %}

{% block content %}
{{ block.super }}

<div class="start">
    <div class="initial">
        <h1>Estos son todos nuestros contactos: </h1>
            <div id="time">
                {% now "Y - h:m"%}
            </div>
        </div>
        <p></p>
    </div>
</div>
<br/>
<div class="divbtn" style="margin-left: 40px;">
    <a class="submitbtn" href="{% url 'lead_create' %}"><button>Agregar</button></a>
</div>
<br/>
<div class="list_container">
    {% for contacto in contactos %}
        <div class="list_content">
            <p>{{ contacto.nombres }} {{ contacto.apellidos }}<br/>
            - {{ contacto.email }}</p><br/>
            <a class="detail_href" href="{% url 'lead_detail' contacto.pk %}">Ve al contacto</a>
        </div>
    {% endfor %}
</div>
    
{% endblock %}