{% extends 'layouts/layouts.html'%}

{% block title %}Contactos {% endblock %}

{% block content %}
{{ block.super }}

<div class="start">
    <div class="initial">
        <h1>Detalles de {{ contacto.nombres }} {{ contacto.apellidos }}</h1>
            <div id="time">
                {% now "Y - h:m"%}
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="box">
        <p>Nombres: {{ contacto.nombres }}
        <br/>
        Apellidos: {{ contacto.apellidos }}
        <br/>
        Título: {{ contacto.titulo }}
        <br/>
        e-mail: {{ contacto.email }}
        <br/>
        Compañía: {{ contacto.compania }}
        <br/>
        Móvil: {{ contacto.movil }}
        <br/>
        Teléfono: {{ contacto.telefono }}
        <br/>
        Descripción: {{ contacto.descripcion }}
        <br/>
        Agente asignado: {{ contacto.agente }}
        <br/><br/></p>
        <a class="submitbtn" href="{% url 'lead_update' contacto.pk %}"><button>Editar</button></a>
        <a class="delbtn" href="{% url 'lead_delete' contacto.pk %}"><button>Eliminar</button></a>
    </div>
    <a class="backbtn" href="{% url 'lead_list' %}"><button>Regresar</button></a>
</div>

{% endblock %}