{% extends 'layouts/layouts.html'%}

{% block title %}Contactos {% endblock %}

{% block content %}
{{ block.super }}

<div class="start">
    <div class="initial">
        <h1>Crea un nuevo contacto</h1>
            <div id="time">
                {% now "Y - h:m"%}
            </div>
        </div>
    </div>
</div>
<br/>
<div class="divbtn" style="margin-left: 40px;">
    <a class="backbtn" href="{% url 'lead_list' %}"><button>Regresar</button></a>
</div>
<div class="content">
    <div class="box">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="submitbtn" type="submit">Crear</button>    
        </form>
    </div>
</div>

{% endblock %}