{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
        | GTxCRM
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
</head>
<body>
    <header>
        <h1 id="h1header">GTxCRM</h1>
        <nav>
            <ul class="nav_links">
                {% if not request.user.is_authenticated %}
                    <li><a href="{% url 'index' %}">Inicio</a></li>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'index' %}">Inicio</a></li>
                    {% if request.user.es_organizador %}
                        <li><a href="{% url 'agent_list' %}">Agentes</a></li>
                    {% endif %}
                    <li><a href="{% url 'lead_list' %}">Contactos</a></li>
                    <li><a href="{% url 'empresa_list' %}">Empresas</a></li>
                    <li><a href="{% url 'producto_list' %}">Productos</a></li>
                    <li><a href="{% url 'deal_list' %}">Deals</a></li>
                    <li><a href="{% url 'tarea_list' %}">Tareas</a></li>
                    <li><a href="{% url 'evento_list' %}">Eventos</a></li>
                {% endif %}
            </ul>
        </nav>
        <div>
            {% if request.user.is_authenticated %}
                <a class="logbtn" href="{% url 'logout' %}"><button>Salir</button></a>
            {% endif %}
            {% if not request.user.is_authenticated %}
                <a class="logbtn" href="{% url 'signup' %}"><button>Regístrate</button></a>
                <a class="logbtn" href="{% url 'login' %}"><button>Inicia sesión</button></a>
            {% endif %}
        </div>
    </header>
    {% block content %}
    {% endblock %}

    {% include 'layouts/scripts.html' %}
    <footer>
        GTxCRM &copy; Oscar Sierra
    </footer>
</body>
</html>